@{
    ViewData["Title"] = "Solicite seu Agendamento";
}
<h1>@ViewData["Title"]</h1>
<br>

<form asp-controller="Home" asp-action="Salvar" method="POST">
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="inputEmail4">CPF</label>
            <input type="text" class="form-control" id="CPF" name="CPF" placeholder="CPF">
        </div>
        <div class="form-group col-md-6">
            <label for="inputEmail4">Nome</label>
            <input type="text" class="form-control" id="Nome" name="Nome" placeholder="Nome">
        </div>
        <div class="form-group col-md-6">
            <label for="inputEmail4">Sobrenome</label>
            <input type="text" class="form-control" id="SobreNome" name="SobreNome" placeholder="Sobre Nome">
        </div>
        <div class="form-group col-md-6">
            <label for="inputEmail4">Email</label>
            <input type="email" class="form-control" id="Email" name="Email" placeholder="Email">
        </div>
    </div>
    <div class="form-group">
        <label for="inputAddress">Endereço</label>
        <input type="text" class="form-control" id="Endereco" name="Endereco" placeholder="Endereço">
    </div>
    <div class="form-group">
        <label for="inputAddress2">Complemento</label>
        <input type="text" class="form-control" id="Complemento" name="Complemento" placeholder="Complemento do endereço">
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="inputCity">Cidade</label>
            <input type="text" class="form-control" id="Cidade" name="Cidade" placeholder="Cidade">
        </div>
        <div class="form-group col-md-4">
            <label for="inputState">UF</label>
            <select id="UF" name="UF" class="form-control">
                <option value="AC">AC</option>
                <option value="AL">AL</option>
                <option value="AP">AP</option>
                <option value="AM">AM</option>
                <option value="BA">BA</option>
                <option value="CE">CE</option>
                <option value="DF">DF</option>
                <option value="ES">ES</option>
                <option value="GO">GO</option>
                <option value="MA">MA</option>
                <option value="MT">MT</option>
                <option value="MS">MS</option>
                <option value="MG">MG</option>
                <option value="PA">PA</option>
                <option value="PB">PB</option>
                <option value="PR">PR</option>
                <option value="PE">PE</option>
                <option value="PI">PI</option>
                <option value="RN">RN</option>
                <option value="RS">RS</option>
                <option value="RO">RO</option>
                <option value="RR">RR</option>
                <option value="SC">SC</option>
                <option value="SP">SP</option>
                <option value="SE">SE</option>
                <option value="TO">TO</option>
            </select>
        </div>
        <div class="form-group col-md-2">
            <label for="inputZip">Celular</label>
            <input type="text" class="form-control" id="Contato" name="Contato" placeholder="Contato">
        </div>

        <div class="form-group col-md-2">
            <label for="inputState">Serviço</label>
            <select id="Servico" name="Servico" class="form-control">
                <option value="Revisao">REVISAO</option>
                <option value="Troca Oleo">TROCA DE ÓLEO</option>
                <option value="Motor">PROBLEMA NO MOTOR</option>
                <option value="Pneu">PROBLEMA NO PNEU</option>
                <option value="Eletrica">PROBLEMA NA ELETRICA</option>
                <option value="Acessorio">ACESSÓRIOS</option>
                <option value="Outros">OUTROS</option>
            </select>
        </div>
        <div class="form-group col-md-2">
            <label for="data">Data Sugerida</label>
            <input type="date" class="form-control" id="DataSugerida" name="DataSugerida">
        </div>
        <div class="form-group">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" id="GridCheck">
                <label class="form-check-label" for="gridCheck">Aceito os termos</label>
            </div>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Enviar</button>
</form>
